.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-block: 3rem;
}

.search-ctr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: var(--BORDER_DARK_FAT);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--BG_LIGHT);
}

.search-field {
    background-color: var(--BG_LIGHT);
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.search-field::placeholder {
    color: var(--FONT_COLOR);
}

.submit-btn {
    padding: 1rem;
    background-color: var(--BG_LIGHT);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
}

.submit-btn:hover {
    background-color: var(--BG_MEDIUM);
}
