.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-block: 3rem;
}

.search-ctr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: var(--BORDER_DARK_FAT);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--BG_LIGHT);
}

.search-field {
    background-color: var(--BG_LIGHT);
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.submit-btn {
    padding: 1rem;
    background-color: var(--BG_LIGHT);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
}

.submit-btn:hover {
    background-color: var(--BG_MEDIUM);
}

.search-result {
    width: 100%;
    padding: 1rem;
}

.search-result > button {
    display: block;
    width: 100%;
    text-align: start;
    padding-block: 1rem;
    border: none;
    background-color: var(--BG_MEDIUM);
    border-bottom: var(--BORDER_DARK);
    cursor: pointer;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page-navigation > button {
    border: var(--BORDER_DARK_FAT);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--BG_DARK);
    cursor: pointer;
    transition: all 0.3s;   
}

.page-navigation > button:hover {
    background-color: var(--BG_MEDIUM);
}

.page-navigation > button:disabled {
    background-color: var(--BG_MEDIUM);
    color: grey;
    cursor: not-allowed;
}
