:root {
    --BG_DARK_X: #578dc4;
    --BG_DARK: #7FA1C3;
    --BG_MEDIUM: #E2DAD6;
    --BG_LIGHT: #F5EDED;

    --BUTTON_COLOR_OK: #003c5a;

    --FONT_PRIMARY: "Courier Prime", monospace;
    --FONT_COLOR_LIGHT: #CCFFFF;
    --FONT_COLOR_DARK: #000F1F;
    --FONT_COLOR: var(--FONT_COLOR_DARK);
    
    --BORDER_LIGHT: 1px solid var(--BG_LIGHT);
    --BORDER_MEDIUM: 1px solid var(--BG_MEDIUM);
    --BORDER_DARK: 1px solid var(--BG_DARK);
    --BORDER_LIGHT_FAT: 3px solid var(--BG_LIGHT);
    --BORDER_MEDIUM_FAT: 3px solid var(--BG_MEDIUM);
    --BORDER_DARK_FAT: 3px solid var(--BG_DARK);
    --BORDER_DARK_X_FAT: 3px solid var(--BG_DARK_X);

    --HEADER_HEIGHT: 60px;

    --SHADOW_LIGHT: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

* {
    font-family: var(--FONT_PRIMARY);
    color: var(--FONT_COLOR_DARK);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root, body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background-color: var(--BG_MEDIUM);
}

@media (prefers-color-scheme: dark) {
    :root {
        --BG_DARK_X: #03001C;
        --BG_DARK: #1b113b;
        --BG_MEDIUM: #301e67;
        --BG_LIGHT: #5B8FB9;

        --FONT_COLOR: var(--FONT_COLOR_LIGHT);
    }

    * {
        color: var(--FONT_COLOR_LIGHT);
    }
}
