.menu-ctr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu-btn {
    border: var(--BORDER_DARK_FAT);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--BG_DARK);
    cursor: pointer;
    transition: all 0.3s;
}

.menu-btn:hover {
    background-color: var(--BG_MEDIUM);
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}
